<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Tracks</title>
</head>

<body>
    <header>
    <h1>Fit Tracks</h1>
    </header>
    <nav>

    </nav>
    <main>
        <div>
            {{{body}}}
        </div>
    </main>
</body>

</html>