<h6>THIS IS THE ACCOUNT VIEW</h6>

    <h2>{{name}}, here is your account:</h2>


  {{#if Activities.length}}
  <div class="col-md-6 activity-list">
    <h3>Your Subscribed Activities:</h3>

    {{#each Activities as |activity|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/activity/{{activity.id}}">{{activity.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{activity.id}}">Remove this Activity</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>