  <div class="col-md-4 col-sm-12">
      <div class="figure">
        {{!-- DON'T KNOW WHAT TO PUT FOR AN IMAGE --}}
          <img src="../public/images/lifting.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
      </div>
  </div>
  <div class="col-md-6 col-sm-12 ">
      <h4>activity:{{name}}</h4>
      <h5>creator:{{user.name}}</h5>
      <h6>date/time:{{format_date date_created}}</h6>
          <p class="entry">{{description}}</p>
  </div>
  <hr/>