<div class="col-md-4 col-sm-12">
    <div class="figure">
        {{!-- DON'T KNOW WHAT TO PUT FOR AN IMAGE --}}
        <img src="../public/images/run.jpg" class="figure-img img-fluid rounded clearfix" alt="Yoga" >
            <h4>activity:{{name}}</h4>
            <h5>creator:{{user.name}}</h5>
            <h6>date/time:{{format_date date_created}}</h6>
                <p class="entry">{{description}}</p>
                <form class="form login-form ">
                    <div class="form-group p-2">
                        <label for="comment">comments/join:</label>
                        <br>
                        <input class="form-input" type="text" id="comment" />
                    </div>
                    <div class="form-group p-2 mb-4">
                        <button class="btn btn-primary post" type="submit">post</button>
                    </div>    
                </form>
    </div>
</div>