<div class="col-md-4">
    <div class="figure">
        {{!-- DON'T KNOW WHAT TO PUT FOR AN IMAGE --}}
        <img src="../public/images/g-strength.jpg" class="figure-img img-fluid rounded clearfix" alt="Strength" >
    </div>
        <h5>goal:{{goal}}</h5>
        <h6>start date:{{format_date date_created}}</h6>
        <p>motivation:{{motivation}}</p>
</div>