<link rel="stylesheet" href="css/style.css">

<section id="welcome-loggedin">
    <div class="row">

        <div class="col-md-6 col-sm-12 p-0">
            <div class="img" style="max-width:100%; height:auto;">
                <img src="images\weights.jpg" alt="weights" class="img-fluid">

                    <div class="overlay-welcome p-3">
                        <h4>Welcome to Fit with Friends!!</h4>
                    </div>
            </div>
        </div>
            
        <div class="col-md-6 col-sm-12 p-0">
            <div class="img" style="max-width:100%; height:auto;">
                <img src="images\stretch.jpg" alt="stretch" class="img-fluid">

                    <div class="overlay-about p-3">
                        <h4>Log your workouts, set your goals, and find friends to help keep you accountable.</h4>
                    </div>
            </div>
        </div>
    </div>
</section>

<section id="cheat-day">
<div class="container">
    <div class="row">
        <h1>Cheat-Day</h1>
        <h2>How to make good choices</h2>
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="images\cheesecake.jpg" class="figure-img img-fluid rounded clearfix" alt="Cheesecake" >
                    <h6>High fat desserts</h6>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="images\pizza.jpg" class="figure-img img-fluid rounded clearfix" alt="Pizza" >
                    <h6>Alternative carbs</h6>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="figure">
                    <img src="images\sushi.jpg" class="figure-img img-fluid rounded clearfix" alt="Sushi" >
                    <h6>High protein with carbs</h6>
                </div>
            </div>
    </div>
</div>
</section>