<link rel="stylesheet" href="css/style.css" />

<section id="login">

  <div class="row">

    <div class="col-md-6 col-sm-12 p-0 mb-0">
      <div
        class="img img-welcome"
        style="max-width:100%; height:auto; margin-bottom:0 !important;"
      >
        <img src="images/weights.jpg" alt="weights" class="img-fluid" />

        <div class="overlay-login p-3 ml-2">
          <h4>Login</h4>
          <form class="form login-form">
            <div class="form-group p-1">
              <label for="email-login">Email:</label>
              <br />
              <input class="form-input" type="text" id="email-login" />
            </div>

            <div class="form-group p-1">
              <label for="password-login">Password:</label>
              <br />
              <input class="form-input" type="password" id="password-login" />
            </div>

            <br />
            <h4>Welcome Back!!</h4>
            <br />
            <div class="form-group p-1">
              <button class="btn btn-primary login" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 p-0 mb-0">
      <div
        class="img img-welcome"
        style="max-width:100%; height:auto; margin-bottom:0 !important;"
      >
        <img src="images/stretch.jpg" alt="stretch" class="img-fluid" />

        <div class="overlay-newUser p-3 ml-2">
          <h4>Create New User</h4>
          <form class="form create-form">

            <div class="form-group p-1">
              <label for="username-create">Userame:</label>
              <br />
              <input class="form-input1" type="text" id="create1" />
            </div>

            <div class="form-group p-1">
              <label for="email-create">Email:</label>
              <br />
              <input class="form-input2" type="text" id="create2" />
            </div>

            <div class="form-group p-1">
              <label for="password-create">Create password:</label>
              <br />
              <input class="form-input" type="password" id="password-create" />
            </div>
            <br />
            <div class="form-group p-2">
              <button
                class="btn btn-primary create"
                id="pushme"
                type="submit"
              >Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/login.js"></script>