body { /* ENTIRE WEBSITE WE CAN CHANGE COLORS & FONT */
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*.navbar--------------------------------------------*/ 
.navbar {  /* ENTIRE NAVBAR */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand { /*LOGO ONLY*/
    text-decoration: none;
    font-size: 18px;
    color: #333333;
}

.navbar-nav { /*UL CLASS LIST*/
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav { /*UL CLASS LIST*/
    text-decoration: none;
    color: blue;
}

.highlight { /*HIGHLIGHT COLOR*/
    color: blue;
}
/*end .navbar-------------------------------------------*/

/*login overlay-----------------------------------------*/
.img {
    position: relative;
    text-align: left;
}

.overlay-login {
    position: absolute;
    top: 25%;
    bottom: auto;
    left: 25%;
    right: 25%;
    background-color: white;
    opacity: 65%;
}

.overlay-login:hover {
    opacity: 75%;
}

.overlay-newUser {
    position: absolute;
    top: 25%;
    bottom: auto;
    left: 25%;
    right: 25%;
    background-color: white;
    opacity: 65%;
}

.overlay-newUser:hover {
    opacity: 75%;
}

/*end login overlay------------------------------------*/

/*PADDING FOR TITLES TO BE UNDER NAVBAR*/
h1 {
    margin-top: 53px;
    margin-bottom: 6px;
    font-size: 1.5rem;
    color: black;
    padding-top: 53px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    margin-bottom: 6px;
    font-size: 1rem;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 12px;
}

/* FOOTER---------------------------------------------- */
.footer { /*FOOTER BACKGROUND*/
    margin-top: 53px;
    padding: 15px;
    background-color: gray;
    text-decoration: none;
}

.footer li { /*FOOTER TEXT*/
    list-style: none;
    color: white;
    font-size: 14px;
    text-align: left;
}
  /* END FOOTER------------------------------------------ */